@import url("https://fonts.googleapis.com/css2?family=Almarai&family=Gelasio:wght@400;500;600&family=Inter&family=Roboto&display=swap");
body {
  padding: 4% 5% 5% 5%;
  color: #474747;
  font-family: "Almarai", sans-serif;
}
